<!DOCTYPE html>
<html>
  <head>
    <title>Solar Viz</title>
    
    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin></script>
    
    {% block head %}{% endblock %}

  </head>
  <body>
    <div>v
      <ul>
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>

    {% block body %}{% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>