<!DOCTYPE html>
<html>
<head>
    <title>Solar Viz</title>
    
    <!-- JQuery script tag -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    
    {% block head %}{% endblock %}

</head>
<body>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    Solar Viz

    <hr>

    {% block body %}{% endblock %}

</body>
</html>