<!DOCTYPE html>
<html>
  <head>
    <title>Solar Viz</title>
    
    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin></script>

    {# Moment: allows you to use time scales. If you want to use time scales,
    you have to import Moment BEFORE Chart.js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    {# ChartJS #}
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

    {# randomColor: generate random colors #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

    
    {% block head %}{% endblock %}

  </head>
  <body>
    <div>
      <ul>
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>

    {% block body %}{% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>