{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<h2>Solar Data Vizualization</h2>
  <p><a href="/">go to the home page</a></p>

<h2>Yearly Production Data for All Utilities - Jinja</h2> 
  <p>Showing table data that was implemented with Jinja</p>
  <table class="showing_solar_data" id="YPT">
    <tr>
      <th>
          year
      </th>
      <th>
          production
      </th>
    </tr>
    {% for year, production in production_by_year.items() %}
    <tr>
      <td>
        {{ year }}
      </td>
      <td>
        {{production}} kWh
      </td>
    </tr>
    {% endfor %}
  </table>

<h4>Congratulations Johanna on completing your MVP!</h4>

<h2>Yearly Production Data for All Utilities - chart.js</h2>

<div id="site content">
  <p>Practicing a bar chart with dates in Chart.js</p>
  <canvas id="bar-chart2"></canvas>
  <h4>Congratulations Johanna on getting Chart.js to work!!!</h4>
</div>

<div>
  <h2>Want to know more?</h2>
<!--   <p>Click on a year to get more information</p> -->
<!--   <ul>
    {% for year in years %}
      <li>
        <a href="/data_viz/{{ year }}">
          {{ year }}
        </a>
      </li>
    {% endfor %}
  </ul> -->
  
  <form id="year_selection" method="post" action="/data_viz">
    <label>Select a year to get more information:</label>
    <select name = year>
      {% for year in years %}
      <option>
        {{ year }}
      </option>
    {% endfor %}
      <!-- <option value="example">example text</option> -->
    </select>
    <button type="Submit">Submit</button>
  </form>
  
</div>

{% endblock %}


{% block js %}
<script src="/static/js/bar-chart-five.js"></script>


{% endblock %}

<!-- check out this example in the documentation
https://www.chartjs.org/docs/latest/axes/cartesian/time.html#time-cartesian-axis -->