{% extends 'base.html' %}

{% block head %}
  
{# ChartJS #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

{# randomColor: generate random colors #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

{% endblock %}


{% block body %}

<h2>Solar Data Vizualization</h2>
  <p><a href="/">go to the home page</a></p>

<h2>Yearly Production Data for All Utilities - Jinja</h2> 
  <p>Showing table data that was implemented with Jinja</p>
  <table class="showing_solar_data" id="YPT">
    <tr>
      <th>
          year
      </th>
      <th>
          production
      </th>
    </tr>
    {% for year, production in production_by_year.items() %}
    <tr>
      <td>
        {{ year }}
      </td>
      <td>
        {{production}} kWh
      </td>
    </tr>
    {% endfor %}
  </table>

<h4>Congratulations Johanna on completing your MVP!</h4>

<h2>Yearly Production Data for All Utilities - chart.js</h2>

<div id="site content">
  
  <h4>Practicing a basic chart, but with Chart.js</h4>
  <canvas id="bar-chart"></canvas>
  <script src="/scripts/basic_bar_chart.js"></script>

</div>


{% endblock %}


