{% extends 'base.html' %}

{% block head %}
<link
      href="../static/css/homepage.css"
      rel="stylesheet"
    >
{% endblock %}

{% block body %}

<!-- <div class="container container-fluid">
<h1>Energy from the Sun</h1>
</div> -->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1>SolarViz</h1>
    <p class="lead">energy from the sun</p>
    <p>This website shows data reported from the California Solar Initiative. This includes information on solar energy generation projects from three large utilities in California. Visit the 
    <a href="https://www.californiasolarstatistics.ca.gov/">California CSI website</a> 
    to learn more
    </p>
  </div>
</div>

<div class="col-5">
  <footer>
    <p>website by Johanna Kinsler
    <br>Hackbright capstone project | accelerated full-stack software engineering program for women</p>
  </footer>
  </div>


{% endblock %}

{% block js %}
{% endblock %}