{% extends 'base.html' %}

{% block head %}
<link
      href="../static/css/homepage.css"
      rel="stylesheet"
    >
{% endblock %}

{% block body %}

<!-- <div class="container container-fluid">
<h1>Energy from the Sun</h1>
</div> -->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1>SolarViz</h1>
    <p class="lead">energy from the sun</p>
    <div class="container">
      <div class="row">
        <div class="col-6 panel panel-primary panel-transparent">
          <h4>About SolarViz</h4>
          <p>This is some information</p>
        </div>
        <div class="col-6">
          <h4>Helpful Links</h4>
          <a href="https://www.californiasolarstatistics.ca.gov/">California CSI website</a>
          <br>
          <a href="https://www.californiadgstats.ca.gov/downloads/">California CSI raw data</a>
          <br>
          <a href="https://www.pge.com/">Pacific Gas and Electric</a>
          <br>
          <a href="https://www.sdge.com/">San Diego Gas and Electric</a>
          <br>
          <a href="https://www.sce.com/">Southern California Edison</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-5">
  <footer>
    <p>website by Johanna Kinsler
    <br>Hackbright capstone project | accelerated full-stack software engineering program for women</p>
  </footer>
  </div>


{% endblock %}

{% block js %}
{% endblock %}