{% extends 'base.html' %}

{% block head %}
<link
      href="../static/css/homepage.css"
      rel="stylesheet"
    >
{% endblock %}

{% block body %}

<!-- <div class="container container-fluid">
<h1>Energy from the Sun</h1>
</div> -->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1>SolarViz</h1>
<!--     <p class="lead">energy from the sun</p> -->
    <p>Data from the California Solar Initiative. 
      <a class="news_articles_description" href="/data_viz">Look inside to learn more.</a>
    </p>
  </div>
</div>

        <p class="photo-credit">Photo by Mariana Proença on Unsplash</p>

<div class="col-5">

  <footer>
    <p>website by Johanna Kinsler
    <br>Hackbright capstone project | accelerated full-stack software engineering program for women</p>
  </footer>

  </div>



{% endblock %}

{% block js %}
{% endblock %}