{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<h1>Solar Viz</h1>

<h2>Solar energy production details for {{year}}:</h2>

<div id="production-consumption">
    <p>REPLACE TABLE WITH A PIE CHART?</p>
    <table class="showing_solar_data" id="PCC">
        <tr>
          <th>
              production
          </th>
          <th>
              consumption
          </th>
          <th>
              % solar
          </th>
        </tr>
        <tr>
          <td>
            {{ production }} kWh
          </td>
          <td>
            {{consumption}} kWh
          </td>
          <td>
            {{ percent }} &#37
          </td>
        </tr>
    </table>
    <p>Solar Energy Production changed by {{}} &#37 from the previous year. </p>

</div>


{% endblock %}


{% block js %}
<!-- scripts go here -->
{% endblock %}