{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<div class="container container-fluid">
  <h1>Details for {{year}}</h1>
</div>

<div class="container container-fluid">
  <h4>Description of the data</h4>
  <p>Description goes here</p>
</div>

<div class="container container-fluid" id="production-consumption" data-year="{{ year }}">
    <table class="table" id="PCC">
        <thead class="thead-light">
          <th>
              Solar Energy Production (gWh)
          </th>
          <th>
              Total Energy Production (gWh)
          </th>
          <th>
              &#37 Energy that is Solar
          </th>
        </tr>
        <tr>
          <td>
            {{ production }}
          </td>
          <td>
            {{consumption}}
          </td>
          <td>
            {{ percent_production }} &#37
          </td>
        </tr>
    </table>
    <p>Solar energy generation changed by {{ change_factor }} from the previous year. </p>
</div>

<div class="container container-fluid">
  <h4>Description of the data</h4>
  <p>Description goes here</p>
</div>

<div class="container container-fluid" id="site content">
  <p>Solar production values from all CSI companies for {{year}}:</p>
  <canvas id="bar-chart-compare-companies2"></canvas>
</div>

{% endblock %}


{% block js %}
<script src="/static/js/bar-chart-compare-companies.js"></script>
{% endblock %}